package pages

import "graphiti/web/templates/layouts"

templ Login() {
	@layouts.Base("Login") {
		<div class="login-page">
			<div class="login-card">
				<h1>Graphiti</h1>
				<p>Visual Workflow Builder</p>
				<a href="/auth/login" class="btn btn-primary btn-lg">
					Login
				</a>
			</div>
		</div>
	}
}
